# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env

# ChromaDB (VERY IMPORTANT - don't push DB)
chroma_db/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large files
*.pdf